body{
  margin: 0;
  padding: 0;
  float: none !important;
}
table{
  padding: 0 !important;
  border-radius: 0 !important;
}
#content {
  margin-top: 5em !important;
    width: 97%;
    margin: auto;
}
#aspnetForm #header{
  background-image: url('http://nod.sencor.net/Images/logo-left.png') !important;
  background-repeat: no-repeat;
  background-color: #005950;
}
#aspnetForm #header .title{
  display: none;
}
#aspnetForm #navigation{
  margin-top: 0em;
  border-bottom: none;
}

#aspnetForm #navigation li a{
  text-transform: none;
font-weight: normal;
  padding: 10px 20px;
}
#header{
  height: 6em;
}
#header .greeting,
#header .greeting a{
  color: #fff;
  margin-top: 2em;
}


.active{
    background-color: #fff6b5 !important;
}

.notify{
    border:#f0c36d 1px solid;
    display:none;
    position: absolute;
    top: 45px;
    background: #fff6b5;
    font-family: segoe ui, arial, sans-serif;
    font-size: 12px;
    padding: 8px;
    border-radius: 3px;
    left: 40%;
}

.cmdbutton{
    padding: 1px 6px !important;
    text-decoration: none !important;
}

.lightbox{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
    display: none;
}

.lightbox .container{
  width: 100px;
  height:100%;
  margin: auto auto;
  margin-left: 25%;
  margin-top: 1%;
}
.lightbox img{
  height: 95%;
}
#closebox{
  color: #fff;
}

div.gv-one,
div.gv-two,
div.gv-three,
div.gv-four,
.div-request,
.div-request2{
border-radius: 0;
height: auto;
box-shadow: none;
margin: 0 0 30px 0;
}

b{
  font-style:normal !important;
}
/*
table[style*="width:100%; height: 670px;"]{
  width: 100% !important;
  height: 100% !important;
  flex: 1;
  position: absolute;
}

table[style*="width:100%; height: 670px;"] tr td .divright,
table[style*="width:100%; height: 670px;"] tr td .divright table{
   height: 100% !important;
}
   
.divInside,
.divInside table{
    width: 100% !important;
}
.divInside table tr td{
  padding: 8px 0 !important;
}

table

table[style*="width: 95%; height: 64px;"] td{
  padding : 0 !important;
}


.divInside table tr td div[style*=" width: 1000px; height: 580px; overflow: auto;"]{
width: 100% !important;
height: 100% !important;

}


.divInside table tr td[style*="height: 580px;top: 0px;"]{
height: 100% !important;
}

*/