
#content{
    width: 1200px !important;
}

.active{
    background-color: #fff6b5 !important;
}

.notify{
    border:#f0c36d 1px solid;
    display:none;
    position: absolute;
    top: 45px;
    background: #fff6b5;
    font-family: segoe ui, arial, sans-serif;
    font-size: 12px;
    padding: 8px;
    border-radius: 3px;
    left: 40%;
}

.cmdbutton{
    padding: 1px 6px !important;
    text-decoration: none !important;
}

.lightbox{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
    display: none;
}

.lightbox .container{
  width: 100px;
  height:100%;
  margin: auto auto;
  margin-left: 25%;
  margin-top: 1%;
}
.lightbox img{
  height: 95%;
}
#closebox{
  color: #fff;
}